<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USACE Concept 5</title>
    <link rel="stylesheet" href="styles.scss" />
</head>

<body>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
    <section id="app">
        <div class="input uk-inline">
            <span class="uk-input" v-if="spanShowed" @click="focusInput">{{spanText}}</span
        >
        <input
          v-else
          ref="inputField"
          v-model="filtered"
          @focusin="focusIn"
          @focusout="focusOut"
          class="uk-input"
          placeholder="Type to filter"
        />
      </div>
      <div class="sub-menu">
        <ul class="uk-list" :class="{show:submenuShowed}">
          <li v-for="country in filterCountries" @click="changeText(country)">
            {{country}}
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>